.table {
	padding-top: 2rem;
	width: fit-content;
	align-self: center;
}

.table td {
	padding-right: 1rem;
	padding-left: 1rem;
	padding-bottom: 1rem;
	border-left: 2px;
	border-right: 2px;
	border-style: solid;
	border-bottom: 0px;
	border-top: 0px;
	text-align: center;
}

.flex-container {
	background-color: rgb(87, 82, 82);
	color: antiquewhite;
	display: flex;
	flex-direction: row; /* Change this line */
	flex-wrap: wrap;
	align-items: center;
	border-radius: 2rem;
	padding-bottom: 4rem;
}

body {
	background-color: rgb(0, 0, 0);
}

.all {
	margin-top: 2rem;
	margin-right: 2rem;
	margin-left: 2rem;
}

.submit {
	border-radius: 1rem;
	margin-top: 5px;
	background-color: bisque;
	border-color: black;
}

.submit_field {
	border-radius: 1rem;
	border-color: black;
	padding: 4px;
	margin-top: 3px;
}

h1 {
	margin-top: 2rem;
}
