<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="./static/index.css" rel="stylesheet" />
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body class="background min-h-screen">
		<div class="pageDivide dark:bg-white">
			<div class="leftSide">
				<div class="IMSnameDiv">
					<h1 class="IMS">IMS</h1>
					<p class="i_m_s">Inventory Managment System</p>
				</div>
				<div class="leftSideBar">
					<div class="sideBarSection1">
						<a class="dashboard" href="{{ url_for('dashboard')}}"
							>Dashboard</a
						>
						<button id="stats" class="analytics">Analytics</button>
					</div>
					<div class="catagoriesMenu">
						<button class="buttonField" id="tableSelectButton">
							Selection
						</button>
						<div
							id="selectionMenu"
							class="hidden flex catagoriesMenuInner"
						>
							<a
								class="selectionOptions"
								href="{{ url_for('suppliers')}}"
								>Suppliers</a
							>
							<a
								class="selectionOptions"
								href="{{ url_for('products')}}"
								>Products</a
							>
							<a
								class="selectionOptions"
								href="{{ url_for('customers')}}"
								>Customers</a
							>
							<a
								class="selectionOptions"
								href="{{ url_for('orders')}}"
								>Orders</a
							>
							<a
								class="selectionOptions"
								href="{{ url_for('sales')}}"
								>Sales</a
							>
						</div>
					</div>
					<div class="sideBarSection3">
						<button class="buttonField" id="get-all-suppliers">
							All
						</button>
						<button class="buttonField" id="get-supplier-count">
							Count
						</button>
						<button class="buttonField" id="clear">Clear</button>
					</div>
					<div class="sideBarSection4">
						<button id="createButtonID" class="buttonField">
							Create New
						</button>
						<button id="updateButtonID" class="buttonField">
							Update
						</button>
						<button id="getByIdButtonID" class="buttonField">
							Search ID
						</button>
						<button id="deleteButtonID" class="buttonField">
							Delete
						</button>
						<div class="sideBarSection5">
							<a class="logoutAndSettings">Settings</a>
							<a class="logoutAndSettings">Logout</a>
						</div>
					</div>
				</div>
			</div>
			<div class="rightSide">
				<div class="rightSection1">
					<input
						class="searchBar"
						type="text"
						placeholder="{% block placeholderSearch %} Search... {% endblock %}"
						id="search"
						name="search"
					/><br />
				</div>
				<div class="databaseInputFields">
					{% block dataBaseInputFields %} {% endblock %}
				</div>
				<div id="loading" style="display: none">Loading...</div>
				<div id="error"></div>
				<div class="logoDiv1">
					<div class="w-18 logoDiv2">
						<img id="logo" src="/static/imslogo.png" />
					</div>
				</div>
				<div class="APIresponseDiv1">
					<div class="APIresponseDiv2" id="response"></div>
				</div>
			</div>
			<div class="darkLightButtonDiv1">
				<label
					for="toggleB"
					id="lightMode-toggle"
					class="darkLightInput"
				>
					<div class="darkLightButtonDiv2">
						<input id="toggleB" type="checkbox" class="sr-only" />
						<div class="darkButton"></div>
						<div class="darkButtonCircle"></div>
					</div>
				</label>
			</div>
		</div>
		<script src="static/color_change.js"></script>
		<script src="static/js/global/global_dropdown_and_buttons.js"></script>
		<script src="static/js_routing/global_routing_functions.js"></script>
	</body>
</html>
